.service-container{
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-image: url(./images/background.png);
}



