
.image-wrapper{
    width: 267px;
    transition: 1s;
    height: 30px;
    text-align: center;
    position: relative;
   
}




.image-wrapper:hover{
    transform: scale(1.1);
    z-index: 2;

}


.title {
    border-bottom: 2px solid grey;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    width: 267px;
    height: 30px;
    top: 260px;
    
    
}

a{
    text-decoration: none;
    color: black;
    
}